In [4]:
from intro_students import data, cleaned
print(data)

Student#,Last Name,First Name,Favorite Color,Age
1,Johnson,Mia,periwinkle,12
2,Lopez,Liam,blue,green,13
3,Lee,Isabella,,11
4,Fisher,Mason,gray,-1
5,Gupta,Olivia,9,102
6,,Robinson,,Sophia,,blue,,12

In [5]:
cleaned

           Last_Name First_Name Favorite_Color   Age
Student_No
1            Johnson        Mia     periwinkle  12.0
2              Lopez       Liam     blue-green  13.0
3                Lee   Isabella      <missing>  11.0
4             Fisher      Mason           gray   NaN
5              Gupta     Olivia          sepia   NaN
6           Robinson     Sophia           blue  12.0

In [6]:
%load_ext rpy2.ipython

The rpy2.ipython extension is already loaded. To reload it, use:
  %reload_ext rpy2.ipython

In [ ]:
%%R -i cleaned
library('tibble')

# renomeando as colunas
tibble(First=cleaned$First_Name,
       Last=cleaned$Last_Name,
       Age=cleaned$Age)

In [9]:
%%bash
sed s/,,/,/g data/students.csv |
    cut -f2,3 -d, |
    tail -n +2 |
    tr , ' ' |
    sort

Fisher Mason
Gupta Olivia
Johnson Mia
Lee Isabella
Lopez Liam
Robinson Sophia